\.idea/

\Version.json

\workingdir/

__pycache__/

EasyChemML/Encoder/build/temp\.win-amd64-3\.7/Release/

*.pyd

*.log

EasyChemML/Encoder/impl_FingerprintEncoder/build/temp.win-amd64-3.7/Release/

EasyChemML/Encoder/Mol2Vec/build/

EasyChemML/Encoder/impl_FingerprintEncoder/build/

*.so

*.c

*.lib

*.obj

*.exp

*.data

*.data

*.MPIdata0

*.o

ZARR_TMP/
*.0

Output/DATA/

Output/

workingdir/

.vs/EasyChemML/v16/

EasyChemML/Utilities/DataUtilities/RustBatchsystem/rustMergeSort/test/9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08/

EasyChemML/Utilities/DataUtilities/RustBatchsystem/target/debug/

EasyChemML/Utilities/DataUtilities/RustBatchsystem/target/

EasyChemML.egg-info/

EasyChemML/Utilities/DataUtilities/RustBatchsystem/pyRustBatchsystem/TMP/9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08/

*.npz

*.CPMETA

*.CPDATA

Examples/FP2MOL/Checkpoints/CheckpointSystemSTATE.hjson

*.cpp

build/

Version.json

TMP/

